<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6917226871452" version="1.0"> 
  <name>投票项目</name>  
  <description>应用AUI框架</description>  
  <author email="cuihuale@yeah.net" href="http://www.apicloud.com">APPxn</author>
  <content src="index.html"/>
  <preference name="appBackground" value="rgba(0,0,0,0)"/>
  <preference name="windowBackground" value="rgba(0,0,0,0)"/> 
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0)"/> 
  <preference name="autoLaunch" value="true"/>  
  <preference name="autoUpdate" value="true"/>  
  <preference name="smartUpdate" value="false"/>  
  <preference name="debug" value="true"/>  
  <preference name="statusBarAppearance" value="true"/>  
  <permission name="location"/>  
  <permission name="internet"/>
  <access origin="*"/>  
  <feature name="qq">
    <param name="urlScheme" value="tencent101064640"/>  
    <param name="apiKey" value="101064640"/> 
  </feature>  
  <feature name="sinaWeiBo"> 
    <param name="urlScheme" value="wb1132217156"/>  
    <param name="apiKey" value="1132217156"/>  
    <param name="registUrl" value="http://www.apicloud.com"/> 
  </feature>  
  <feature name="wx">
    <param name="urlScheme" value="wx31725b58dfe195f4"/>
    <param name="apiKey" value="wx31725b58dfe195f4"/>
    <param name="apiSecret" value="5d8af5e8791a680f5c1a6243dcd00642"/>
  </feature>
  <feature name="ajpush">
        <param name="app_key" value="2a67e27c08e0682c0df9ad38" />
        <param name="channel" value="24" />
    </feature>
</widget>
